.navbar {
  z-index: 4;
}

.body {
  z-index: 3;
}

.navbarwords {
  color: #f79696;
}

.navbartitleword {
  color: red;
}

.navbar {
  position: sticky;
  top: 0;
}

.introduction {
  margin-top: 50px;
  padding: 20px;
  background-color: #f7454a;
  color: white;
}

.introheading,
.transportationheading {
  font-weight: bold;
}

.introbox1,
.introbox2 {
  margin: 20px;
  padding: 5px;
  background-color: #f79696;
  color: #7d252a;
  border: 5px solid #500b15;
}

.introbox2 {
  margin-right: 20px;
}

.introbox2box1,
.introbox2box2 {
  background-color: #f7ebf3;
  margin: 5px;
}

.transportation {
  margin-top: 50px;
  padding: 20px;
  background-color: #f7454a;
  color: white;
}

.image {
  padding: 10px;
  color: #500b15;
  background-color: #f79696;
  border: 5px solid #500b15;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.image img {
  height: 250px;
  width: 500px;
  display: flex;
  justify-content: center;
  border: 5px solid #f7ebf3;
}

.attractions {
  margin-top: 50px;
  padding: 20px;
  background-color: #f7454a;
  color: white;
}

.firstcontainer,
.secondcontainer,
.thirdcontainer {
  margin: 50px;
  padding: 10px;
  background-color: #f79696;
  border: 1px solid #500b15;
  color: #500b15;
}

.att1left,
.att2left,
.att3left {
  color: #500b15;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shrineimage,
.aquariumimage,
.sanrioimage {
  height: 400px;
  width: 450px;
  border: 5px solid white;
}

.att1right,
.att2right,
.att3right {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
